<views-count-component
  {{ block.shopify_attributes }}
  data-storeid="{{ shop.permanent_domain }}"
  data-productid="{{ product.id }}"
  data-id="{{ block.id }}"
>
  <div class="views-count">
    {% render 'icon', icon: block.settings.icon %}
    {% if block.settings.text_position == 'before' %}
      <span>{{ block.settings.views }}</span>
    {% endif %}
    <span id="views-count-{{ block.id }}"> <views-count>__</views-count> </span>
    {% if block.settings.text_position != 'before' %}
      <span>{{ block.settings.text }}</span>
    {% endif %}
  </div>
</views-count-component>

{% style %}
  {% if block.settings.use_custom_color %}
      .views-count{
        color: {{ block.settings.color }};
      }

      .views-count svg{
        color: {{ block.settings.icon_color }}
      }
    {% endif %}

    .views-count {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .views-count svg {
      width: 2rem;
      height: 2rem;
    }
{% endstyle %}

<script src="{{ 'script.js' |  asset_url  }}" defer></script>
{% schema %}
{
  "name": "Views Count",
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "default": "eye",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Eye",
          "value": "eye"
        },
        {
          "label": "Fire",
          "value": "fire"
        },
        {
          "label": "Bolt",
          "value": "bolt"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "label": "Text",
      "default": "views",
      "id": "text"
    },
    {
      "type": "select",
      "label": "Text position",
      "default": "after",
      "id": "text_position",
      "options": [
        {
          "label": "Before views count",
          "value": "before"
        },
        {
          "label": "After views count",
          "value": "after"
        }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "checkbox",
      "label": "Use custom Color",
      "id": "use_custom_color",
      "default": false
    },
    {
      "type": "color",
      "default": "#000000",
      "id": "color",
      "label": "Text color",
      "info": "Only works if 'Use theme color' option is disabled."
    },
    {
      "type": "color",
      "default": "#000000",
      "id": "icon_color",
      "label": "Icon color",
      "info": "Only works if 'Use theme color' option is disabled."
    }
  ]
}
{% endschema %}
